<div class="home-content">
  <h1>Welcome to Share your Quiz App</h1>
  <p>Please log in to start managing your quizzes.</p>
  <p>If you want to take part in a quiz, follow the link shared by the quiz owner.</p>
</div>

<div class="home-buttons">
  <button mat-stroked-button color="primary" routerLink="/login" *ngIf="!authService.isAuthenticated()">Login</button>
  <button mat-stroked-button color="primary" routerLink="/quizzes" *ngIf="authService.isAuthenticated()">Manage your quizzes</button>
</div>
