<h1>Registration</h1>
<form [formGroup]="resetPasswordRetrieveForm" class="form-fields" @fadeInOut (ngSubmit)="resetPasswordRetrieve()">

  <div>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="your_name@example.com" formControlName="email" required>
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="(resetPasswordRetrieveForm.get('email')?.invalid)">
        {{getErrorMessage('email')}}
      </mat-error>
    </mat-form-field>
  </div>

</form>

<div class="form-buttons">
  <button type="submit" mat-stroked-button color="primary" (click)="resetPasswordRetrieve()" [disabled]="resetPasswordRetrieveForm.invalid">Retrieve password reset</button>
  <button mat-stroked-button color="accent" (click)="cancel()">Cancel</button>
</div>
