<h1 i18n>Choices</h1>
<button mat-fab color="primary" (click)="add()" class="add-button">
  <mat-icon>add</mat-icon>
</button>
<div class="choices-content">
  <table matSort (matSortChange)="sortData($event)" class="choices">
    <tr>
      <th mat-sort-header="choice" i18n>Name</th>
      <th i18n>Is a good answer</th>
      <th i18n>Actions</th>
    </tr>

    <tr *ngFor="let choice of sortedData">
      <td class="shorter-on-small">{{ choice.choice }}</td>
      <td>
        <button *ngIf="choice.is_correct" mat-icon-button color="primary" (click)="isCorrectToggle(choice.id)" matTooltip="Yes" [matTooltipPosition]="'right'">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!choice.is_correct" mat-icon-button color="primary" (click)="isCorrectToggle(choice.id)" matTooltip="No" [matTooltipPosition]="'right'">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
      <td>
        <button mat-icon-button color="primary" (click)="rename(choice.id)">
          <mat-icon>abc</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(choice.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
