<h1 i18n>Login</h1>
<form [formGroup]="loginForm" class="form-fields" @fadeInOut (ngSubmit)="login()">
  <div>
    <mat-form-field>
      <mat-label i18n>Enter your username</mat-label>
      <input matInput placeholder="James1234" formControlName="username" required>
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="(loginForm.get('username')?.invalid)">
        {{getErrorMessage('username')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label i18n>Enter your password</mat-label>
      <input type="password" matInput placeholder="********" formControlName="password" required>
      <mat-icon matSuffix>password_outline</mat-icon>
      <mat-error *ngIf="(loginForm.get('passwords.password')?.invalid)">
        {{getErrorMessage('passwords.password')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button type="submit" mat-stroked-button color="primary" [disabled]="loginForm.invalid" i18n>Login</button>
    <button mat-stroked-button color="accent" (click)="cancel()" i18n>Cancel</button>
  </div>

  <div class="password-reset-link">
    <a [routerLink]="['/reset-password-retrieve']" i18n>Forgot password?</a>
  </div>
</form>
