<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Share your quizz</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" class="normal-buttons">
      <!-- add a class is the current route is-->
      <a mat-button routerLink="/" routerLinkActive="current" [routerLinkActiveOptions]="{exact:true}" i18n>Home</a>
      <a mat-button routerLink="/login" routerLinkActive="current" *ngIf="!authService.isAuthenticated()" i18n>Login</a>
      <a mat-button (click)="logout()" *ngIf="authService.isAuthenticated()" i18n>Logout</a>
      <a mat-button routerLink="/register" routerLinkActive="current" *ngIf="!authService.isAuthenticated()" i18n>Register</a>
      <a mat-button routerLink="/quizzes" routerLinkActive="current" *ngIf="authService.isAuthenticated()" i18n>Quizzes</a>
    </div>

    <mat-menu #languageMenu="matMenu" class="language-menu">
      <button mat-menu-item (click)="changeLanguage('en')" class="language-menu-item">
        <img src="assets/flags/en.png" alt="English" class="language-icon"/><span class="language-text">- En</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('fr')" class="language-menu-item">
        <img src="assets/flags/fr.png" alt="Français" class="language-icon"/><span class="language-text">- Fr</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('de')" class="language-menu-item">
        <img src="assets/flags/de.png" alt="Deutsch" class="language-icon"/><span class="language-text">- De</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('es')" class="language-menu-item">
        <img src="assets/flags/es.png" alt="Español" class="language-icon"/><span class="language-text">- Es</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('it')" class="language-menu-item">
        <img src="assets/flags/it.png" alt="Italiano" class="language-icon"/><span class="language-text">- It</span>
      </button>
    </mat-menu>

    <div class="language-selector">
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <img [src]="'assets/flags/' + currentLanguage + '.png'" class="language-icon" />
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column" style="overflow-y: auto; height: 100%;">
        <a mat-button routerLink="/" (click)="closeSidenav()" i18n>Home</a>
        <a mat-button routerLink="/login" *ngIf="!authService.isAuthenticated()" (click)="closeSidenav()" i18n>Login</a>
        <a mat-button routerLink="/logout" *ngIf="authService.isAuthenticated()" (click)="closeSidenav()" i18n>Logout</a>
        <a mat-button routerLink="/register" *ngIf="!authService.isAuthenticated()" (click)="closeSidenav()" i18n>Register</a>
        <a mat-button routerLink="/quizzes" *ngIf="authService.isAuthenticated()" (click)="closeSidenav()" i18n>Quizzes</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <footer>
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

