.companyName{
  font-size: 100%;
}

a{
  text-decoration: none;
  font-size: 80%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav{
  z-index: 3;
  width: 250px;
}

a.current {
  background-color: #34349d;
}

.normal-buttons a{
  margin: 0px 5px;
}

.normal-buttons a:hover {
  background-color: #262675;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

mat-sidenav-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.mat-sidenav-content {
  flex: 1;
  margin-top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto; /* Permettre le défilement vertical si nécessaire */
  padding-top: 0px;
  text-align: center;
}

.language-menu{
  width: auto !important;
  padding: 0 5px;
}

.language-menu-item{
  margin: 0 0px;
  padding: 0px;
}

.language-menu-item img{
  position: relative;
  top: 7px;
  left: 23px;
}

.language-selector {
  position: relative;
}

.language-selector img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.language-selector button {
  border-radius: 50%;
}

.language-icon{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.language-text{
  position: relative;
  top: 2px;
  left: 34px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6a6ae3;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

@media (max-width: 600px) {
  .mat-sidenav-content {
    margin-top: 0;
    padding-top: 0;
  }
}

.router-content{
  overflow-y: auto;
  margin-bottom: 115px;
  min-height: 50%;
}
