@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family: 'Poppins', sans-serif;
  color: #333;
}


h1, h2, h3 {
  color: #333;
}

.media img{
  max-height: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

p {
  line-height: 1.2;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin: 16px;
}


.link-like {
  margin-top: 32px;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    text-decoration: none;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s;
}

.admin-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.player-button{
  margin: 10px;
  padding: 5px;
  min-width: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

qrcode{
  padding: 20px;
  border-radius: 8px;
}

.qr-code-container {
  border: 2px solid black;
  display: inline-block;
  padding: 0px;
  border-radius: 0px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.qrcode canvas{
  border-radius: 8px;
}

.current-players{
  margin-top: 20px;
}

button[mat-stroked-button] {
  &.primary {
    background-color: #007bff;
    color: white;
    &:hover {
      background-color: #0056b3;
    }
  }
  &.accent {
    background-color: #ff4081;
    color: white;
    &:hover {
      background-color: #ff1c63;
    }
  }
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.player-item {
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-player {
  animation: popIn 0.5s;
}

.left-player {
  animation: popIn 0.5s reverse;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.new-player {
  animation: popIn 0.5s;
}

.left-player {
  animation: popIn 0.5s reverse;
}

.question {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.answers {
  margin-top: 20px;
}

.answer {
  flex: 1 1 calc(50% - 20px);
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
  &:hover {
    background-color: #e0e0e0;
  }
}

.answer.correct {
  background-color: #d4edda; /* vert clair */
}

.answer.incorrect {
  background-color: #f8d7da; /* rouge clair */
}

@media (max-width: 768px) {
  .answers {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

mat-icon {
  font-size: 1.5em;
  vertical-align: middle;
  color: #28a745; /* vert */
}

.player-result {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;

  .player-score {
    font-weight: bold;
  }
}
