<div class="play">
  <div *ngIf="authService.isAuthenticated()">
    <div *ngIf="error">
      <span i18n>There's not current active session. Please go back to the </span><a (click)="navigateToQuizzes()" class="link-like" i18n>quizzes page</a><span i18n> and start a new session.</span>
    </div>

    <div *ngIf="!error && readyToInvite && !gameLaunched">
      <h1>
        <strong i18n>Welcome to this session.</strong>
      </h1>

      <h2 i18n>
        Join the game scanning this QR code
      </h2>
      <div class="qr-code-container">
        <qrcode [qrdata]="url" [width]="200" [errorCorrectionLevel]="'M'" style="padding: 0px !important;"></qrcode>
      </div>

      <div class="current-players">
        <h3 i18n>
          Current players
        </h3>
        <div *ngIf="players.length > 0">
          <div cdkDropList (cdkDropListDropped)="drop($event)" class="player-grid">
            <div *ngFor="let player of players" [ngClass]="playerClasses[player.username]" cdkDrag class="player-item">
              {{ player.username }}
            </div>
          </div>
        </div>
        <div *ngIf="players.length==0" i18n>
          No players yet.
        </div>
      </div>
      <div>
        <button class="admin-button" mat-raised-button color="primary" (click)="launchTheGame()" [disabled]="players.length<=0" i18n>Launch the game</button>
      </div>
    </div>
    <div *ngIf="!error && readyToInvite && gameLaunched && currentQuestion.question===''">
      <button class="admin-button" mat-raised-button color="primary" (click)="nextQuestion()" i18n>Next question</button>
    </div>
  </div>

  <div *ngIf="!authService.isAuthenticated() && !joined">
    <div *ngIf="isReady && myName==''">
      <form [formGroup]="setUsernameForm" class="form-fields" @fadeInOut (ngSubmit)="setUsername()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label i18n>Username</mat-label>
            <input type="text" matInput placeholder="James1234" formControlName="playerUsername" autocomplete="off" required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="(setUsernameForm.get('playerUsername')?.invalid)">
              {{getErrorMessage('playerUsername')}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-buttons">
          <button class="player-button" type="submit" mat-raised-button color="primary" [disabled]="setUsernameForm.invalid" i18n>Play</button>
          <button class="player-button" mat-raised-button color="accent" (click)="setUsernameCancel()" i18n>Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="joined && !gameLaunched">
    <div class="container">
      <p i18n>You joined the game with success. </p>
      <p i18n>Please wait for the host to start the game.</p>
    </div>
  </div>

  <div *ngIf="joined && gameLaunched && currentQuestion.question==''">
    <div class="container">
      <p i18n>The game is about to start. </p>
      <p i18n>Get ready!</p>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <button class="admin-button" mat-raised-button color="primary" (click)="nextQuestion()" i18n>Next question</button>
    </div>
  </div>

  <div *ngIf="(joined && gameLaunched && currentQuestion.question!='' && currentAnswer<=0)||(authService.isAuthenticated() && gameLaunched && currentQuestion.question!='')">
    <div class="question" *ngIf="(joined && gameLaunched && currentQuestion.question!='' && currentAnswer<=0)||(authService.isAuthenticated() && thisQuestionResult.players.length==0 && !showGoodAnswers && !showQuestionResult && !showGlobalResult)">
      <h1>
        {{ currentQuestion.question }}
      </h1>
      <div class="media" *ngIf="authService.isAuthenticated() && currentQuestion.media && currentQuestion.media!==''">
        <div *ngIf="mediaType==='video'">
          <video width="267" height="200" controls autoplay>
            <source [src]="currentQuestion.media" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div *ngIf="mediaType==='audio'">
          <audio controls autoplay>
            <source [src]="currentQuestion.media" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div *ngIf="mediaType==='image'">
          <img [src]="currentQuestion.media" alt="media">
        </div>

      </div>
      <div class="answers">
        <div *ngIf="!authService.isAuthenticated()">
          <div *ngFor="let choice of currentQuestion.choices" class="answer" (click)="answerQuestion(choice.choiceId)">
            {{ choice.choice }}
          </div>
        </div>
        <div *ngIf="authService.isAuthenticated()">
          <div *ngFor="let choice of currentQuestion.choices" class="answer">
            {{ choice.choice }}
          </div>
        </div>
      </div>
      <div *ngIf="authService.isAuthenticated()">
        <button class="admin-button" mat-raised-button color="primary" (click)="showResults()" i18n>Show results</button>
        <div class="answers-received">
          {{currentQuestionAnswers}}/{{currentQuestion.players}}
        </div>
      </div>
    </div>


    <div *ngIf="authService.isAuthenticated() && gameLaunched && currentQuestion.question!='' && showGoodAnswers && !showQuestionResult && !showGlobalResult">
      <h1>
        {{ currentQuestion.question }}
      </h1>
      <div class="answers">
        <div
                *ngFor="let choice of currentQuestion.choices"
                [ngClass]="{'answer': true, 'correct': choice.isCorrect, 'incorrect': !choice.isCorrect}"
        >
          <mat-icon matSuffix *ngIf="choice.isCorrect">done</mat-icon>{{ choice.choice }}
        </div>
      </div>
      <app-answer-distribution [data]="answerDistribution"></app-answer-distribution>
      <div>
        <button class="admin-button" mat-raised-button color="primary" (click)="showQuestionResultsFunc()" i18n>Question Result</button>
      </div>
    </div>


    <div *ngIf="authService.isAuthenticated() && gameLaunched && currentQuestion.question!='' && !showGoodAnswers && showQuestionResult && !showGlobalResult">
      <h1 i18n>
        Question ranking
      </h1>
      <div class="results">
        <div *ngFor="let player of thisQuestionResult.players" class="player-result">
          <div class="player-name">
            {{ player.username }}
          </div>
          <div class="player-score">
            {{ player.currentScore }}
          </div>
        </div>
      </div>
      <div>
        <button class="admin-button" mat-raised-button color="primary" (click)="showGlobalResultsFunc()" i18n>Global Result</button>
      </div>
    </div>

    <div *ngIf="authService.isAuthenticated() && gameLaunched && currentQuestion.question!='' && !showQuestionResult && showGlobalResult">
      <h1>
        <span *ngIf="!gameIsOver" i18n>Global ranking</span>
        <span *ngIf="gameIsOver" i18n>Final global ranking</span>
      </h1>
      <div class="results">
        <div *ngFor="let player of currentResult.players" class="player-result">
          <div class="player-name">
            {{ player.username }}
          </div>
          <div class="player-score">
            {{ player.currentScore }}
          </div>
        </div>
      </div>
      <div *ngIf="!gameIsOver">
        <button class="admin-button" mat-raised-button color="primary" (click)="nextQuestionFunc()" i18n>Next question</button>
      </div>
      <div *ngIf="gameIsOver">
        <button class="admin-button" mat-raised-button color="primary" (click)="navigateToQuizzes()" class="link-like" i18n>Back to quizzes page</button>
      </div>
    </div>
  </div>


  <div *ngIf="joined && gameLaunched && currentQuestion.question!='' && currentAnswer>0 && !gameIsOver">
    <div *ngIf="!authService.isAuthenticated()">
      <div class="container" *ngIf="currentQuestionResultRanking===0 && currentGlobalResultRanking===0">
        <p i18n>Please wait for the results and the next question</p>
      </div>

      <div class="container" *ngIf="currentQuestionResultRanking!=0 && currentGlobalResultRanking===0">
        <p *ngIf="currentQuestionResultIsCorrect" i18n>You're answer was correct</p>
        <p *ngIf="!currentQuestionResultIsCorrect" i18n>You're answer was incorrect</p>
        <p i18n="@@yourPoints">You just got {{ currentQuestionResultPoints }} points!</p>
        <p i18n="@@yourPoints">Your rank in this question: {{ currentQuestionResultRanking }} out of {{ currentQuestionTotalPlayers }}.</p>
      </div>

      <div class="container" *ngIf="currentQuestionResultRanking!=0 && currentGlobalResultRanking!=0">
        <p i18n="@@yourPoints">You have accumulated {{currentGlobalResultPoints}} points so far.</p>
        <p i18n="@@yourPoints">Your current global ranking: {{ currentGlobalResultRanking }} out of {{ globalTotalPlayers }}.</p>
      </div>
    </div>
  </div>
  <div *ngIf="joined && gameLaunched && currentQuestion.question!='' && currentAnswer>0 && gameIsOver">
    <div *ngIf="!authService.isAuthenticated()">
      <div class="container">
        <p i18n>Checks results on the main screen. </p>
        <p><strong i18n>Thanks for playing! </strong></p>
      </div>
    </div>
  </div>
</div>
