<div class="play">
  <div *ngIf="authService.isAuthenticated()">
    <div *ngIf="error">
      There's not current active session. Please go back to the <a (click)="navigateToQuizzes()" class="link-like">quizzes page</a> and start a new session.
    </div>

    <div *ngIf="!error">
      <h1>
        Welcome to this session.
      </h1>

      <h2>
        Join the game scanning this QR code
      </h2>
      <div class="qr-code-container">
        <qrcode [qrdata]="url" [width]="200" [errorCorrectionLevel]="'M'" style="padding: 0px !important;"></qrcode>
      </div>

      <div class="current-players">
        <h3>
          Current players
        </h3>
        <div *ngIf="players.length > 0">
          <div cdkDropList (cdkDropListDropped)="drop($event)" class="player-grid">
            <div *ngFor="let player of players" [ngClass]="playerClasses[player.username]" cdkDrag class="player-item">
              {{ player.username }}
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="players.length==0">
        No players yet.
      </div>

    </div>
  </div>

  <div *ngIf="!authService.isAuthenticated()">
    <div *ngIf="myName==''">
      <form [formGroup]="setUsernameForm" class="form-fields" @fadeInOut (ngSubmit)="setUsername()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter your username</mat-label>
            <input matInput placeholder="yourNickname" formControlName="username" required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="(setUsernameForm.get('username')?.invalid)">
              {{getErrorMessage('username')}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-buttons">
          <button type="submit" mat-stroked-button color="primary" [disabled]="setUsernameForm.invalid">Play</button>
          <button mat-stroked-button color="accent" (click)="setUsernameCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>
