.custom-file-input .mat-form-field-outline {
  color: #3f51b5; /* Couleur de la bordure */
  border-width: 4px; /* Épaisseur de la bordure */
}

.custom-file-input .mat-form-field-outline-thick {
  border-width: 4px; /* Épaisseur de la bordure */
}
