<h1>Account confirmation</h1>
<form [formGroup]="confirmAccountForm" class="form-fields" @fadeInOut (ngSubmit)="confirmAccount()">
  <div>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="yourNickname" formControlName="username" required>
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="(confirmAccountForm.get('username')?.invalid)">
        {{getErrorMessage('username')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input type="password" matInput placeholder="********" formControlName="confirmationToken" required>
      <mat-icon matSuffix>password_outline</mat-icon>
      <mat-error *ngIf="(confirmAccountForm.get('confirmationToken')?.invalid)">
        {{getErrorMessage('confirmationToken')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button type="submit" mat-stroked-button color="primary" [disabled]="confirmAccountForm.invalid">Confirm this account</button>
    <button mat-stroked-button color="accent" (click)="cancel()">Cancel</button>
  </div>
</form>
