<h1 i18n>Questions</h1>
<button mat-fab color="primary" (click)="add()" class="add-button">
  <mat-icon>add</mat-icon>
</button>
<div class="questions-content">
  <table matSort (matSortChange)="sortData($event)" class="questions">
    <tr>
      <th mat-sort-header="question" i18n>Name</th>
      <th i18n>Actions</th>
    </tr>

    <tr *ngFor="let question of sortedData">
      <td class="shorter-on-small">{{ question.question }}</td>
      <td>
        <button mat-icon-button color="primary" (click)="rename(question.id)">
          <mat-icon>abc</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="edit(question.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="manageMedia(question.id)">
          <mat-icon>movie</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(question.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
