.companyName{
  font-size: 100%;
}

div {
  overflow: inherit;
}

a{
  text-decoration: none;
  font-size: 80%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  padding-top: 40px;
  text-align: center;
}

a.current {
  background-color: #34349d;
}

.normal-buttons a{
  margin: 0px 5px;
}

.normal-buttons a:hover {
  background-color: #262675;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mat-sidenav-content {
  margin-top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.mat-sidenav-content {
  padding-top: 64px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6a6ae3;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
