<h1 i18n>Password reset</h1>
<form [formGroup]="resetPasswordForm" class="form-fields" @fadeInOut (ngSubmit)="resetPassword()">
  <div>
    <mat-form-field>
      <mat-label i18n>Enter your username</mat-label>
      <input matInput placeholder="James1234" formControlName="username" required>
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="(resetPasswordForm.get('username')?.invalid)">
        {{getErrorMessage('username')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="passwords">
    <div>
      <mat-form-field>
        <mat-label i18n>Enter your password</mat-label>
        <input type="password" matInput placeholder="********" formControlName="password" required>
        <mat-icon matSuffix>password_outline</mat-icon>
        <mat-error *ngIf="(resetPasswordForm.get('passwords.password')?.invalid)">
          {{getErrorMessage('passwords.password')}}
        </mat-error>

      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label i18n>Enter your password again</mat-label>
        <input type="password" matInput placeholder="********" formControlName="confirmPassword" required>
        <mat-icon matSuffix>password_outline</mat-icon>
        <mat-error *ngIf="(resetPasswordForm.get('passwords.confirmPassword')?.invalid) || (resetPasswordForm.get('passwords')?.hasError('mismatch'))">
          {{(resetPasswordForm.get('passwords')?.hasError('mismatch')) ? 'Passwords do not match' : getErrorMessage('passwords.confirmPassword')}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div>
    <mat-form-field>
      <mat-label i18n>Enter your token</mat-label>
      <input type="password" matInput placeholder="********" formControlName="confirmationToken" required>
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="(resetPasswordForm.get('confirmationToken')?.invalid)">
        {{getErrorMessage('confirmationToken')}}
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div class="form-buttons">
  <button type="submit" mat-stroked-button color="primary" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" i18n>Password reset</button>
  <button mat-stroked-button color="accent" (click)="cancel()" i18n>Cancel</button>
</div>
